.carousel-inner .carousel-item.active .d-block.mx-auto {
}
.carousel-item > img {
    width: 100%;
	height: 400px;
	background-size: cover;
	background-position: center
https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQfy-5I76jy3GWAch8vVCTjsGsZKeQMLvMKj8sd3qapRP8qzIwmhttps://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQfy-5I76jy3GWAch8vVCTjsGsZKeQMLvMKj8sd3qapRP8qzIwmhttps://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQfy-5I76jy3GWAch8vVCTjsGsZKeQMLvMKj8sd3qapRP8qzIwmhttps://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQfy-5I76jy3GWAch8vVCTjsGsZKeQMLvMKj8sd3qapRP8qzIwm}

.carousel-item1 {
	background-image: url("images/banner-img-1.jpg");
}

.carousel-item {
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.carousel-item2 {
	background-image: url("images/banner-img-2.jpg");
}

.carousel-item3 {
	background-image: url("images/banner-img-3.jpg");
}

.carousel-item4 {
	background-image: url("images/banner-img-4.jpg");
}


@media (max-width:575px){
	.container-fluid{
    padding-left: 0;
    padding-right: 0;
	}


	
	.container{
		padding-left: 0;
		padding-right: 0;
	}
	
	h3 {
		padding-left: 20px;
		font-size: 20px;
	
	}
}

@media (min-width:575px){
	.card-body > a{
	position: absolute;
	bottom: 20px;
}
}


h3 {
	padding-top: 20px;
	padding-bottom: 10px;
	
}


.container1 {
	padding-left: 0;
	padding-right: 0;
}


.navbar-nav > li:hover{
	border-bottom: 2px solid #46A0F5;
}






.navbar > a {
	width: 140px;
	background-image: url("images/logo.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}


.card{
	padding-left: 0;
	padding-right: 0;
}

.card > div{
	width: 100%;
	height: 240px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.cart-img-1 {
	background-image: url("images/Temple-of-the-Sacred-Tooth-Relic.jpg");
}

.card-text {
	line-height: 20px;
}



.row {
	margin-bottom: 20px
}

.cart-img-2 {
	background-image: url("images/Royal-Botanical-Gardens.jpg");
}

.cart-img-3 {
		background-image: url("images/Kandy-Lake.jpg");

}

.cart-img-4 {
			background-image: url("images/Kandy-Lake.jpg");

}

.cart-img-5 {
			background-image: url("images/Bahiravokanda-Vihara-Buddha-Statue.png");

}

.cart-img-6 {
	background-image: url("images/Udawattakele-Sanctuary.jpg");
}

.cart-img-6 {
			background-image: url("images/unawatuna-beach.jpg");

}

.cart-img-7 {
			background-image: url("images/Ceylon-Tea_museum.jpg");
}

.cart-img-8 {
			background-image: url("images/Lankatilaka-Temple.jpg");
}

.cart-img-9 {
			background-image: url("images/Wales-Park.jpg");
}

.cart-img-10 {
			background-image: url("images/Kandy-to-alla-train.jpg");
}

.cart-img-11 {
			background-image: url("images/Royal-Palace-of-Kandy.jpg");
}

.cart-img-12 {
	background-image: url("images/National-museum-of-kandy.jpg");
}

.cart-img-12 {
			background-image: url("images/koggala-turtle-hatchery.jpg");

}





.hottel-button-wrapper {
	width: 100%;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}


